.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 28rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.messageWrapper {
  white-space: pre-wrap;
}

.form {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 28rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
}

.fileInput {
  /* Default file input styling */
}