.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 28rem;
  padding-top: 6rem;
  padding-bottom: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.messageWrapper {
  white-space: pre-wrap;
}

.form {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 28rem;
  padding: 0.5rem;
  margin-bottom: 0;
  border: 1px solid #374151;
  border-radius: 0.375rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1f2937;
  z-index: 10;
}

.input {
  width: 100%;
  padding: 0.5rem;
  background-color: #111827;
  color: #f3f4f6;
  border: 1px solid #374151;
  border-radius: 0.375rem;
}

.fileInput {
  color: #f3f4f6;
  background-color: #111827;
  border: 1px solid #374151;
  border-radius: 0.375rem;
  padding: 0.5rem;
  cursor: pointer;
}